@{
    ViewBag.Title = "Mi contacto Personal";
}
<h2>@ViewBag.Title.</h2>


<address>
    David Andree Giron Montufar<br />
    Guatemala<br />
    <abbr title="Telefono">Tel:</abbr>
   5466-0297
</address>

<address>
    <strong>Correo1:</strong>   <a href="davidandree53@gmail.com">davidandree53@gmail.com</a><br />
    <strong>Correo2:</strong> <a href="davidandreegironmontufar@gmail.com">davidandreegironmontufar@gmail.com</a>
</address>

